<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{ .Title }}</title>
	{{ template "head.html" . }}
</head>

<body>
<div id="app">
	<div style="display:flex;flex-wrap:wrap">
		<div id="header">
			{{ template "header.html" . }}
		</div>
	</div>
	<div id="content" class="flex two grow">
		<div id="documents">
			<div id="querybar" class="flex" v-if="store.getters.currentTable">
				{{ template "querybar.html" . }}
			</div>
			<div v-for="(d, i) in docs">${i} / ${d}
				<div v-bind-id="i" class="result_cell" v-show="isActive('docs')" v-html="formatDoc(i)">
				</div>
			</div>
		</div>
		<div id="sidebar" style="max-width:20%">
			<div v-for="table in store.getters.tables" v-show="store.getters.tables">
				<a v-bind:href="getTableUrl(table.name)">
					<button v-bind:id="getTableId(table.name)" class="btn-default" v-html="table.name">
					</button>
				</a>
			</div>
		</div>
	</div>
	<div id="footer">
		
	</div>
	<script type="text/javascript" src="/static/js/vv.js"></script>
	<script type="text/javascript" src="/static/vues/jsonedit.js"></script>
	<script type="text/javascript" src="/static/vues/store.js"></script>
	<script type="text/javascript" src="/static/vues/app.js"></script>
</div>
</body>
</html>